/* Estilização geral do corpo */
body {
    background-color: #A9B388; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}


/* Container principal */
.recuperar-container {
    padding: 30px;
    text-align: center;
    width: 400px;
}

/* Título */
h1 {
    font-size: 55px;
    margin-bottom: 50px;
    color: #FFFFFF;
    white-space: nowrap;
    align-items: center;
    
}

/* Texto informativo */
p {
    padding-bottom: 30px; /* Ajuste para um melhor posicionamento */
}

/* Estilização do formulário */
#recuperar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* Agrupamento do Label e Input na mesma linha */
.form-group {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre label e input */
    width: 100%;
    justify-content: center; /* Mantém centralizado */
}

/* Label ao lado do Input */
label {
    font-size: 30px;
    color: #FFFFFF;
    width: auto; /* Mantém ajustável */
    white-space: nowrap; /* Impede quebra de linha */
    margin-bottom: 70px;
   
}

/* Input estilizado */
input {
    flex: 1; /* Ajusta largura dinâmica */
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 70px;
}

/* Botão de enviar */
button {
    background-color: #C4661F; 
    color: #FFFFFF;
    padding: 12px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    margin-top: 40px;
      font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic; /* Ajuste no espaçamento */
}

button:hover {
    background-color: #FF7F50;
}
