

/* Fonte padrão */
body {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.publicacaoes {
font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;

}

/* Links empilhados no header */
header nav a {
  display: block;
  text-align: right;
  font-size: 18px;
  color: #ffefb4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Galeria opcional */
.product-item img {
  width: 220px;
  height: 220px;
  cursor: pointer;
    border: none;
    box-shadow: none; /* Se houver sombras que pareçam bordas */
}



#carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.user-row img {
    width: 150px;
    height: 150px;
}


.post-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.post-username {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: white;
    margin-bottom: 8px;
}

.post-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}


.titulo {
    font-family: "PT Serif", serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
}
