body {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 110px;
    color: #000;
    text-align: left;
}

p {
    font-size: 18px;
    color: #000;
    margin: 20px 0;
    text-align: left;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    gap: 20px;
    width: 100%;
}

button {
    background-color: #A9B388;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    color: #FFFFFF;
    align-items: left;
      font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

button:hover {
    background-color: #FF7F50;
}

.register {
    background-color: #A9B388;
    color: #FFFFFF;
}

.login {
    background-color: #A9B388;
    color: #FFFFFF;
}

.custom-button {
    margin-left: 250px;
    border-radius: 50%;
    font-size: 12px;
    
}
